*
!/**/
!*.*

# Ignorování souborů specifických pro Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Ignorování souborů specifických pro C++
*.o
*.a
*.so
*.exe
*.dll
*.obj
*.out
*.ilk
*.pdb
*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.tlog
*.log
*.idb
*.sbr
*.bsc
*.ilk
*.meta
*.obj
*.pch
*.res
*.sln.docstates
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.vs/

# Ignorování souborů editoru VSCode
# .vscode/

# Ignorování dalších obecných souborů a adresářů
.DS_Store
Thumbs.db

TEST
build
*.cmake

